In [1]:
import os, sys
sys.path.insert(0, os.path.abspath(os.path.join("..")))

# Open source address data

Available from:

http://results.openaddresses.io/

In [2]:
import os, zipfile, csv, io
import pandas as pd
import geopandas as gpd
import shapely.geometry

import impute.address as address

## San Francisco

In [5]:
#datadir = os.path.join("/media", "disk", "Data")
datadir = os.path.abspath(os.path.join("..", "..", "..", "..", "Data"))
filename = os.path.join(datadir, "openaddr-collected-us_west.zip")
[name for state, name in address.filenames(filename) if state == "ca" and name.startswith("san")]

['san_benito',
 'santa_cruz',
 'san_luis_obispo',
 'san_francisco',
 'santa_clara',
 'san_diego',
 'san_bernardino',
 'san_joaquin',
 'san_mateo',
 'santa_barbara']

In [6]:
frame = address.read_to_geo_frame(filename, "ca", "san_francisco")
frame.head()

,street,number,unit,city,district,region,postcode,idd,hash,geometry
0,04TH ST,1550,,,,,94158,,440744266f56a9bf,POINT (-122.3912672 37.7690928)
1,04TH ST,1505,,,,,94158,,f33f6b9db38d76de,POINT (-122.3908502 37.7694259)
2,04TH ST,1475,,,,,94158,,dc0a2ae2da975762,POINT (-122.3910682 37.7706807)
3,BUCHANAN ST,1111,,,,,94115,,2169e924bb27c37c,POINT (-122.4289542 37.7802883)
4,BUCHANAN ST,1160,,,,,94115,,923925b8b1bfd184,POINT (-122.428577 37.7806267)

In [7]:
frame = frame.drop(["unit", "city", "district", "region", "postcode", "idd", "hash"], axis=1)
frame.head()

        street number                         geometry
0      04TH ST   1550  POINT (-122.3912672 37.7690928)
1      04TH ST   1505  POINT (-122.3908502 37.7694259)
2      04TH ST   1475  POINT (-122.3910682 37.7706807)
3  BUCHANAN ST   1111  POINT (-122.4289542 37.7802883)
4  BUCHANAN ST   1160   POINT (-122.428577 37.7806267)

In [8]:
frame.to_file("san_francisco_addresses")

## Dallas

In [9]:
filename = os.path.join(datadir, "openaddr-collected-us_south.zip")
[name for state, name in address.filenames(filename) if state == "tx" and name.startswith("dallas")]

['dallas']

In [10]:
frame = address.read_to_geo_frame(filename, "tx", "dallas")
frame.head()

,street,number,unit,city,district,region,postcode,idd,hash,geometry
0,,,,,COLLIN COUNTY,,,,9e61faffd7d3fea4,POINT (-96.8201038 33.0109558)
1,,,,,COLLIN COUNTY,,,,765e66a8800205e3,POINT (-96.8335747 33.0221938)
2,,,,,COLLIN COUNTY,,,,f5365da60d8eebb9,POINT (-96.8334097 33.0190284)
3,,,,,COLLIN COUNTY,,,,fe7e651c8e266b8a,POINT (-96.7420401 32.9861107)
4,,,,,COLLIN COUNTY,,,,d26456a2f75557df,POINT (-96.7417485 32.9861081)

In [11]:
frame = frame.drop(["unit", "city", "district", "region", "postcode", "idd", "hash"], axis=1)
frame.head()

  street number                        geometry
0                POINT (-96.8201038 33.0109558)
1                POINT (-96.8335747 33.0221938)
2                POINT (-96.8334097 33.0190284)
3                POINT (-96.7420401 32.9861107)
4                POINT (-96.7417485 32.9861081)

In [12]:
frame.to_file("dallas_addresses")

## Chicago

In [13]:
filename = os.path.join(datadir, "openaddr-collected-us_midwest.zip")
[name for state, name in address.filenames(filename) if state == "il" and name.startswith("cook")]

['cook']

In [14]:
frame = address.read_to_geo_frame(filename, "il", "cook")
frame.head()

,street,number,unit,city,district,region,postcode,idd,hash,geometry
0,WEST HIGGINS ROAD,4589,,Hoffman Estates,,,60192,,7e424765c7c8f0c0,POINT (-88.19043809999999 42.0741614)
1,SOUTH HOUGH STREET,125,,Barrington,,,60010,,099b736c8dfa0f1f,POINT (-88.1358051 42.1534529)
2,QUEENS COVE,104,,Barrington,,,60010,,a924636168daf4ed,POINT (-88.1226772 42.1474372)
3,WEST ALGONQUIN ROAD,1732,,Hoffman Estates,,,60120,,dc1563d64be36394,POINT (-88.1229055 42.0928783)
4,WEST ALGONQUIN ROAD,1736,,Hoffman Estates,,,60120,,9efa31fc81d103e7,POINT (-88.1230529 42.0928784)

In [15]:
frame.city.unique()

array(['Hoffman Estates', 'Barrington', 'Barrington Hills', 'Inverness',
       'South Barrington', 'BARRINGTON TWP', 'SOUTH BARRINGTON',
       'Palatine', 'Rolling Meadows', 'Schaumburg', 'Arlington Heights',
       'Deer Park', 'PALATINE TWP', 'SCHAUMBURG', 'Prospect Heights',
       'Mount Prospect', 'Wheeling', 'Des Plaines', 'Buffalo Grove',
       'Glenview', 'Northbrook', 'WHEELING TWP', 'BUFFALO GROVE',
       'ARLINGTON HEIGHTS', '', 'Northfield', 'Deerfield', 'Glencoe',
       'Wilmette', 'NORTHFIELD TWP', 'NEW TRIER TWP', 'NORTHFIELD',
       'NORTHBROOK', 'GLENVIEW', 'Winnetka', 'Kenilworth', 'Evanston',
       'Elgin', 'Streamwood', 'Hanover Park', 'Bartlett', 'HANOVER TWP',
       'Roselle', 'Elk Grove Village', 'SCHAUMBURG TWP', 'ELK GROVE TWP',
       'MOUNT PROSPECT', 'ELK GROVE VILLAGE', 'Park Ridge', 'Chicago',
       'Rosemont', 'Niles', 'Morton Grove', 'MAINE TWP', 'Skokie', 'Golf',
       'Lincolnwood', 'EVANSTON', 'Franklin Park', 'Schiller Park',
       'Norridge', 'Melrose Park', 'Elmwood Park', 'Northlake',
       'River Grove', 'Harwood Heights', 'Bensenville', 'LEYDEN TWP',
       'NORWOOD PARK TWP', 'MELROSE PARK', 'FRANKLIN PARK', 'BENSENVILLE',
       'Westchester', 'Hillside', 'Stone Park', 'Maywood', 'Riverside',
       'Bellwood', 'Berkeley', 'Broadview', 'Forest Park',
       'La Grange Park', 'North Riverside', 'River Forest', 'Brookfield',
       'Western Springs', 'Elmhurst', 'Oak Brook', 'Lyons', 'PROVISO TWP',
       'HILLSIDE', 'PROVISIO TWP', 'RIVERSIDE TWP', 'Cicero', 'Berwyn',
       'Oak Park', 'Stickney', 'Justice', 'Bridgeview', 'Hickory Hills',
       'Bedford Park', 'Summit', 'Hodgkins', 'Mc Cook', 'Burr Ridge',
       'La Grange', 'Willow Springs', 'Countryside', 'Indian Head Park',
       'Hinsdale', 'COUNTRYSIDE', 'LYONS TWP', 'Forest View', 'Burbank',
       'STICKNEY TWP', 'Lemont', 'LEMONT TWP', 'PALOS PARK', 'LEMONT',
       'Palos Heights', 'Worth', 'Palos Park', 'Orland Park',
       'Palos Hills', 'PALOS TWP', 'Hometown', 'Merrionette Park',
       'Chicago Ridge', 'Oak Lawn', 'Evergreen Park', 'Alsip',
       'Blue Island', 'Robbins', 'Crestwood', 'WORTH TWP', 'Calumet Park',
       'Riverdale', 'CALUMET TWP', 'Tinley Park', 'Orland Hills',
       'ORLAND TWP', 'ORLAND PARK', 'TINLEY PARK', 'Hazel Crest', 'Posen',
       'Markham', 'Country Club Hills', 'Oak Forest', 'Midlothian',
       'Harvey', 'Homewood', 'BREMEN TWP', 'COUNTRY CLUB HILLS',
       'Calumet City', 'Lansing', 'South Holland', 'Dolton', 'Thornton',
       'Glenwood', 'East Hazel Crest', 'Dixmoor', 'Burnham', 'Phoenix',
       'THORNTON TWP', 'LANSING', 'Olympia Fields', 'Matteson',
       'Park Forest', 'Richton Park', 'Flossmoor', 'University Park',
       'RICH TWP', 'UNIVERSITY PARK', 'RICHTON PARK', 'Sauk Village',
       'Chicago Heights', 'Steger', 'Ford Heights',
       'South Chicago Heights', 'Lynwood', 'BLOOM TWP', 'SAUK VILLAGE',
       'FORD HEIGHTS', 'LYNWOOD'], dtype=object)

In [16]:
frame = frame[frame.city.str.upper() == "CHICAGO"]
frame = frame.drop(["unit", "city", "district", "region", "postcode", "idd", "hash"], axis=1)
frame.head()

                     street number                               geometry
233417   NORTH OZARK AVENUE   7042         POINT (-87.8203129 42.0090399)
233418    NORTH OWEN AVENUE   6908  POINT (-87.81927779999999 42.0057771)
233419  NORTH OLCOTT AVENUE   6947         POINT (-87.8133717 42.0074941)
233430  NORTH ORIOLE AVENUE   7420         POINT (-87.8166382 42.0157598)
233431  NORTH OTTAWA AVENUE   7401         POINT (-87.8172162 42.0152357)

In [17]:
frame.to_file("chicago_addresses")